.header {
    position: relative;
    display: flex;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    overflow:hidden;
    z-index: -1;
}

.header__title {
    width: 730px;
    margin: auto 64px;
    font-size: 102px;
    line-height: 95px;
    z-index: 1;
}

.header__subtitle {
    width: 388px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    left: 64px;
    bottom: 30px;
    z-index: 1;
}

.header__link {
    text-decoration: none;
    color: #2f80ed;
}


.header__square-pic {
    position: absolute;
    background-color: #2f80ed;
    height: 568px;
    width: 568px;
    right: 0px;
    margin-top: 64px;
    z-index: -1;
}