.two-columns {
    margin: 100px auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: stretch;
}
.two-columns__brief {
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
}

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
}

.two-columns__paragraph {
    font-size: 24px;
    line-height: 34px;
}
.two-columns__paragraph_indention {
    margin-bottom: 30px;
}

.two-columns__span-accent {
    font-family: 'Inter-SemiBold','Helvetica Neue', Arial, sans-serif;
}