@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/logo_place_header.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__main-illustration/header__main-illustration.css);
@import url(../blocks/header/__main-illustration/_image/header_image_two-again.css);
@import url(../blocks/two-columns/two-columns.css);
@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-subtitle/section-subtitle.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/section-title/_theme/section-title_theme_dark.css);
@import url(../blocks/section-subtitle/_theme/section-subtitle_theme_dark.css);
@import url(../blocks/table/table.css);
@import url(../blocks/table/__cell/table__cell.css);
@import url(../blocks/table/__cell/_theme/table__cell_theme_dark.css);
@import url(../blocks/table/__heading/table__heading.css);
@import url(../blocks/table/__text/table__text.css);
@import url(../blocks/resources/resources.css);

* {
    margin: 0;
    padding: 0;
}

.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Inter','Helvetica Neue', Arial, sans-serif;
    color: #000;
  }

.page_text_semi-bold {
    font-family: 'Inter-SemiBold','Helvetica Neue', Arial, sans-serif;
}

.techniques {
    width: 80%;
    margin: 0 auto;
}

.digits {
    padding-bottom: 100px;
}


.kaufman {
  background-color: #1f1f1f;
  padding-bottom: 90px;
}










